<div class="container">

  <div class="jumbotron">
      <img id='currect-action' src='/media/<%= @option %>.png' class="img-circle img-responsive center-block">
  </div>

  <div class="row">
    <div class="col-sm-6 text-center">
      <a href="/choose/1">
        <button type="button" class="btn btn-primary">Opci贸n 1</button>
      </a>
    </div>
    <div class="col-sm-6 text-center">
      <a href="/choose/2">
        <button type="button" class="btn btn-primary">Opci贸n 2</button>
      </a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 text-center">
      <a href="/choose/3">
        <button type="button" class="btn btn-primary">Opci贸n 3</button>
      </a>
    </div>
    <div class="col-sm-6 text-center">
      <a href="/choose/4">
        <button type="button" class="btn btn-primary">Opci贸n 4</button>
      </a>
    </div>
  </div>

  <footer class="footer text-center">
    <p>&copy; 2017</p>
  </footer>

</div> <!-- /container -->
